.sect{
    background: url(image/pexels-designecologist-1779487.jpg);
    background-size: 100%;
    background-position: center;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 *{
    margin: 0;
    padding: 0;
} 
.cart1{
    width: 80%;
    margin: auto;
    height: 120px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top:10px
}
.fa-solid{
    color: rgba(240, 248, 255, 0.822);
    font-size: 25px;
}
.tel,.loca,.cont{
    color: white;
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boutton{
    text-align: center;
    width: 150px;
    height: 30px;
    border: 1px solid orange;
    background-color: orange;
    color: white;
    position: relative;
    top: 30px;
    left: 464px;
    border-radius: 5px;
}
.boutton:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
}
.carte2{
    width: 50%;
    margin:auto;
    height: auto;
    background-color: white;
    position: relative;
    top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.jpg{
    width: 200px;
    height: 200px;
   
    position:relative;
    bottom: 80px;
    
}
.jpg img{
    width: 100%;
    height: 100%;
    border-radius:50%;
}
.dex{
    font-size: 25px;
    margin-bottom: 30px;
}
.dex p{
    color: orange;
}
.perso{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px;
}
.icone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fa-brands{
    font-size: 30px;
    color: rgb(17, 17, 72);
    padding: 10px;
}
.bord{
    border: 1px solid orange;
    border-width: 3Px;
    border-radius: 3px;
    width: 28%;
    margin-left:3px;
}
.van{
    margin-top: 150Px;
}
.bare{
    display: flex;
    justify-content: center;

}
.nav-menu ul{
    display: flex;
    list-style:none ;
   justify-content: space-between;
 
}
.nav-menu li{
    padding: 10px;
    display: flex; 
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.6;
}
.nav-menu a {
    text-decoration: none;
    color: black;
}
nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
}
.trop{
    width: 60%;
}
span{
    opacity: 0.6;
}
.nav-menu li :hover {
    color: orange;

}
 .nav-menu a:active{
    color: orange;
 }

.content{
    display:flex;
    margin-top: 20px;
    flex-wrap:wrap;
}
.div1{
    width: 96%;
    margin:15px auto;
    height: auto;
}
.div1 img{
    width: 100%;
    height: 100%;
}
.div2{
    width: 96%;
    margin:15px auto;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.div2 div{
    width: 49%;
}
.div2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.div3{
    width: 96%;
    margin:15px auto;
    height:auto;
}
.on,.two,.tree{
    width: 33%;
}


 
.div3 img{
    width: 100%;
    height: 100%;     
}
div img{
    width: 100%;
    height: 100%;  
}
.lot{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}
.tar{
    width: 60%; 
}
.tar div{
    margin: 10px;
}
.lot p{
   opacity: 0.6;
   font-size: 18px;
}
svg{
    height: 200px;
    width: 200px;
    margin: auto;
}
.box{
   position: relative;
   width: 100px;
   height: 100px;
   text-align: center;
}
 svg .circle{
    fill: none;
    stroke: orange;
    stroke-width: 5px;
    transform: translate(5px ,5px);
    stroke-dasharray:405;
    stroke-dashoffset:405;
    animation: circle 3s ease-in forwards;
 }
.grand{
    display: flex;
    justify-content: space-between;
 }
 .chifre{
    position:absolute;
    top: 58px;
    left:50%;
 }
.chifre .num{
    font-size: 20px;
    opacity:1 ;
    color: black;
    font-weight: bolder;
 }
 @keyframes circle{
    to{
        stroke-dashoffset:820;
    }
}
.ta{
    fill: none;
    stroke: orange;
    stroke-width: 5px;
    transform: translate(5px ,5px);
    stroke-dasharray:380;
    stroke-dashoffset:380;
    animation: tare 3s forwards;
 }
 @keyframes tare{
    to{
        stroke-dashoffset:760;
    }
} 
.pa{
    fill: none;
    stroke: orange;
    stroke-width: 5px;
    transform: translate(5px ,5px);
    stroke-dasharray:350;
    stroke-dashoffset:350;
    animation: dare 3s forwards;
 }
 @keyframes dare{
    to{
        stroke-dashoffset:700;
    }
}
.cra{
    background:#28023D;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:70px;
    padding: 30px;
}
.gnamo{
    color: white;
    width: 60%;
    text-align: start;
    font-weight: 200;
}
.gnamo p,h2{
    margin: 20px;
}
.gnamo h4{
    color: orange;
}
.gnamo p,li{
    font-size: 20px;
}
.gnamo ul,h4{
    padding-left: 15px;
}
.nano{
    color: aliceblue;
    padding-top: 20px;
}
.marly{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.bas{
    background-image: url(https://preview.colorlib.com/theme/cvportfolio/images/slider-2-1920x600.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}
.tri{
    background-color: rgb(41, 37, 37,0.5);
}
.vue{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.do{
    width: 25%;
    display: flex;
    font-size: 20px;
    color:white;
    margin: 20px auto;
    padding: 90px;
}
.do h1{

   font-size: 70px;
}
.do p{
    margin-top: 25px;
}
.footer{
    background-color:#28023D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: aliceblue;
    height: 100px;
}

.footer a{
    text-decoration: none;
    width: white;
}
.part{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.dirst{
    width: 60%;
    display: flex;
   
}
.text{
    height: 495px;
    margin-left: 20px;
}
.mere-trait{
    display: flex;
    align-items: center;
    justify-content: center;
}
.trait{
    height:  495px;;
    width: 2px;
    background-color: rgb(128, 128, 128,0.5);
    margin-top: 20px;
}
.boul1{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(255, 166, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
    margin-top: -5px;
}
.boul2{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(255, 166, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
    margin-top: 140px;
}
.boul3{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(255, 166, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
    margin-top: 140px;

}
.boul-1{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: orange;
}
.boul-2{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: orange;
}
.boul-3{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: orange;
}
.timeline-content p,h2{
    margin: 15px;
}
.timeline-content h4{
    color: orange;
}
.part p{
    opacity: 0.5;
}
.fan{
    width: 4%;
    height:4px ;
    border-radius: 5px;
    background-color: orange;
}


